body {
  font-size: 12px;
  color: #333;
  fill: #32313F;
}

.axis path,
.axis line {
  fill: none;
  stroke: #CCC;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.bar {
	opacity: 0.7;
}

.tick line {
    stroke: lightgrey;
    opacity: 0.7;
}

.grid line {
      stroke-width: 2px;
}

.grapharea .point {
    opacity: 0.5;
}

div.tooltip {   
/*
	
  position: absolute;           
  text-align: center;           
  padding: 5px;             
  font: 12px sans-serif;        
  border: 2px solid black;
  border-radius: 8px;           
  pointer-events: none; 
	opacity: 0.9;     
	background-color: white;   */
}

.axis text {
	font-family: "Helvetica Neue", sans-serif;
}

.y.axis text {
<!--	text-transform: uppercase; -->
}
